/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#canvas{
    height: 100vh;
    border: 1px solid red;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#canvas{
   
    display: block;
}
function drawLine(x1,x2,y1,y2) {
    ctx.beginPath();
ctx.moveTo(x1, x2);
ctx.lineTo(y1, y2);
ctx.stroke();